@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url(../CSS/main.css);
@import url(../CSS/footer.css);

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/background-one.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero > header {
  display: flex;
  align-items: center;
}

header {
  padding-top: 49px;
}

header > h3 > a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  width: 91px;
  height: 16px;
  padding-left: 152px;
}

header > nav > ul {
  display: flex;
  gap: 32px;
  height: 16px;
  padding-left: 408px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

header > nav > ul > li:hover {
  border-bottom: 1px solid #ffffff;
}

.hero > .sec-logo-headline {
  margin-top: 181px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero > .sec-logo-headline > h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}

.hero > .sec-logo-headline > p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}

